# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
backend/venv/

# Node
node_modules/
dist/
*.log

# OS
.DS_Store
Thumbs.db

# Vite
.vite/
.cache/

# VSCode
.vscode/

# Others
temp_repo/
temp_diagram.dot
